


/**
    字体大小，颜色
*/

.col-999 {
    color: #999;
}
.col-bbb{
    color: #BBBBBB;
}
.col-5454 {
    color: #545454;
}


/* 外边距 */
.magl_11{
    margin-left:11px ;
}

/* 字体 */
.fs-24{
    font-size: 24px;
}
.fs-28 {
    font-size: 28px;
}